In [219]:
import pandas as pd
import numpy as np
import pickle
import mysql.connector

# DATASET JPBOX OFFICE

In [220]:


# Informations de connexion à la base de données
host = "casq.mysql.database.azure.com"
user = "tenshi"
password = "Simplon59"
database = "db_movies"

# Connexion à la base de données
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Requête SQL pour extraire les données
sql_query = "SELECT * FROM films;"
# sql_query = "SELECT f.*, s.nom AS 'studio_name', p_realisateur.nom AS 'realisateur_nom', p_compositeur.nom AS 'compositeur_nom', p_producteur.nom AS 'producteur_nom', p_acteur.nom AS 'acteur_nom' FROM films f JOIN film_studio fs ON f.film_id = fs.film_id JOIN studios s ON s.studio_id = fs.studio_id JOIN film_personne fp_realisateur ON fp_realisateur.film_id = f.film_id AND fp_realisateur.role = 'realisateur' JOIN personnes p_realisateur ON p_realisateur.personne_id = fp_realisateur.personne_id JOIN film_personne fp_compositeur ON fp_compositeur.film_id = f.film_id AND fp_compositeur.role = 'compositeur' JOIN personnes p_compositeur ON p_compositeur.personne_id = fp_compositeur.personne_id JOIN film_personne fp_producteur ON fp_producteur.film_id = f.film_id AND fp_producteur.role = 'producteur' JOIN personnes p_producteur ON p_producteur.personne_id = fp_producteur.personne_id JOIN film_personne fp_acteur ON fp_acteur.film_id = f.film_id AND fp_acteur.role = 'acteur' JOIN personnes p_acteur ON p_acteur.personne_id = fp_acteur.personne_id;"
# Lecture des données dans un DataFrame pandas
data_jp = pd.read_sql(sql_query, conn)

# Fermeture de la connexion à la base de données
conn.close()

# Enregistrement des données dans un fichier CSV
data_jp.to_csv("datasets/donnees_SQL.csv", index=False)

/var/folders/2d/rl2wdlyn7t93k68_f2b6tmzw0000gn/T/ipykernel_1648/2441541497.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_jp = pd.read_sql(sql_query, conn)

In [221]:
# import numpy as np
# data = pd.read_csv("input_datasets/modif_csv_cleaned.csv")

# data['entrees_fr'] = data['entrees_fr'].replace('[$\s]', '', regex=True).replace('-', np.nan, regex=True).astype(float)
# data['entrees_usa'] = data['entrees_usa'].replace('[$\s]', '', regex=True).replace('-', np.nan, regex=True).astype(float)
# df = pd.DataFrame(data)

# data_jp = data
# data_jp.fillna(-1, inplace=True)
display(data_jp.head())

,id,titre,acteurs,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pays,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio,estimation
0,1332,l'age de glace 3 - le temps des dinosaures,"vincent cassel, gérard lanvin, simon pegg, qu...",90000000.0,None,2009-07-03,2009-07-01,87,2403734,1,animation,etats-unis,Tous publics,PG,None,None,41690382.0,783.0,20th century fox,None
1,1333,l'ile de nim,"gerard butler, jodie foster",37000000.0,None,2008-04-09,2008-04-04,95,243392,0,film familial,etats-unis,Tous publics,PG,None,None,13210579.0,399.0,snd,None
2,1334,twilight - chapitre 1 : fascination,"robert pattinson, kristen stewart",37000000.0,None,2009-01-07,2008-11-21,120,755835,1,fantasy,etats-unis,Tous publics,PG,None,None,69637740.0,455.0,snd,None
3,1335,#jesuislà,alain chabat,11378260.0,None,2020-02-05,None,98,112363,0,comédie,france,Tous publics,None,None,eric lartigau,NaN,387.0,gaumont,None
4,1336,#pire soirée,"scarlett johansson, demi moore",20000000.0,None,2017-08-02,2017-06-16,101,66666,0,comédie,etats-unis,Tous publics,R,None,None,8004283.0,145.0,sony pictures,None

In [222]:
data_jp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4547 entries, 0 to 4546
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4547 non-null   int64
 1   titre        4547 non-null   object
 2   acteurs      4547 non-null   object
 3   budget       3772 non-null   float64
 4   compositeur  656 non-null    object
 5   semaine_fr   4547 non-null   object
 6   semaine_usa  3694 non-null   object
 7   duree        4547 non-null   int64
 8   entrees_fr   4547 non-null   int64
 9   franchise    4547 non-null   int64
 10  genres       4547 non-null   object
 11  pays         4547 non-null   object
 12  pegi_fr      3881 non-null   object
 13  pegi_usa     3303 non-null   object
 14  producteur   585 non-null    object
 15  realisateur  1928 non-null   object
 16  entrees_usa  3584 non-null   float64
 17  salles_fr    3790 non-null   float64
 18  studio       4453 non-null   object
 19  estimation   0 non-null      object
dtypes: float64(3), int64(4), object(13)
memory usage: 710.6+ KB

## Suppression des doublons

In [223]:
# Suppression des doublons qui n'ont pas toutes les informations
# data_jp = data_jp.dropna(subset=['entrees_premiere_semaine', 'acteurs', 'budget', 'genre'])

# Suppression des doublons avec comme point commun le titre du film
data_jp.drop_duplicates(subset=["titre"], inplace=True, ignore_index=True)

data_jp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4547 entries, 0 to 4546
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4547 non-null   int64
 1   titre        4547 non-null   object
 2   acteurs      4547 non-null   object
 3   budget       3772 non-null   float64
 4   compositeur  656 non-null    object
 5   semaine_fr   4547 non-null   object
 6   semaine_usa  3694 non-null   object
 7   duree        4547 non-null   int64
 8   entrees_fr   4547 non-null   int64
 9   franchise    4547 non-null   int64
 10  genres       4547 non-null   object
 11  pays         4547 non-null   object
 12  pegi_fr      3881 non-null   object
 13  pegi_usa     3303 non-null   object
 14  producteur   585 non-null    object
 15  realisateur  1928 non-null   object
 16  entrees_usa  3584 non-null   float64
 17  salles_fr    3790 non-null   float64
 18  studio       4453 non-null   object
 19  estimation   0 non-null      object
dtypes: float64(3), int64(4), object(13)
memory usage: 710.6+ KB

## Affichage des features

In [224]:
data_jp.head()

,id,titre,acteurs,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pays,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio,estimation
0,1332,l'age de glace 3 - le temps des dinosaures,"vincent cassel, gérard lanvin, simon pegg, qu...",90000000.0,None,2009-07-03,2009-07-01,87,2403734,1,animation,etats-unis,Tous publics,PG,None,None,41690382.0,783.0,20th century fox,None
1,1333,l'ile de nim,"gerard butler, jodie foster",37000000.0,None,2008-04-09,2008-04-04,95,243392,0,film familial,etats-unis,Tous publics,PG,None,None,13210579.0,399.0,snd,None
2,1334,twilight - chapitre 1 : fascination,"robert pattinson, kristen stewart",37000000.0,None,2009-01-07,2008-11-21,120,755835,1,fantasy,etats-unis,Tous publics,PG,None,None,69637740.0,455.0,snd,None
3,1335,#jesuislà,alain chabat,11378260.0,None,2020-02-05,None,98,112363,0,comédie,france,Tous publics,None,None,eric lartigau,NaN,387.0,gaumont,None
4,1336,#pire soirée,"scarlett johansson, demi moore",20000000.0,None,2017-08-02,2017-06-16,101,66666,0,comédie,etats-unis,Tous publics,R,None,None,8004283.0,145.0,sony pictures,None

## Suppression features inutiles

In [225]:
cols_drop = ["id", "acteurs"]

data_jp = data_jp.drop(cols_drop, axis=1)

## Nettoyage feature budget

In [226]:
data_jp['budget'] = data_jp['budget'].astype(str).str.replace('.0', '')

# Filtrer les lignes à supprimer
index_a_supprimer = (data_jp['budget'] == -1) | (data_jp['budget'].isna()) | (data_jp['budget'].astype(str).str.lower() == 'nan')

# Supprimer les lignes correspondantes
data_jp = data_jp[~index_a_supprimer]

# Réinitialiser l'index si nécessaire
data_jp.reset_index(drop=True, inplace=True)

# Afficher les premières lignes pour vérification
print(data_jp.head())

nombre_de_moins_un_nan = ((data_jp['budget'] == -1) | (data_jp['budget'].isna()) | (data_jp['budget'].astype(str).str.lower() == 'nan')).sum()

print("Nombre de lignes avec valeur égale à -1 ou NaN ou 'nan' dans la colonne 'budget':", nombre_de_moins_un_nan)

                                        titre    budget compositeur  \
0  l'age de glace 3 - le temps des dinosaures  90000000        None
1                                l'ile de nim  37000000        None
2         twilight - chapitre 1 : fascination  37000000        None
3                                   #jesuislà  11378260        None
4                                #pire soirée  20000000        None

   semaine_fr semaine_usa  duree  entrees_fr  franchise         genres  \
0  2009-07-03  2009-07-01     87     2403734          1      animation
1  2008-04-09  2008-04-04     95      243392          0  film familial
2  2009-01-07  2008-11-21    120      755835          1        fantasy
3  2020-02-05        None     98      112363          0        comédie
4  2017-08-02  2017-06-16    101       66666          0        comédie

         pays         pegi_fr pegi_usa producteur    realisateur  entrees_usa  \
0  etats-unis   Tous publics        PG       None           None   41690382.0
1  etats-unis   Tous publics        PG       None           None   13210579.0
2  etats-unis   Tous publics        PG       None           None   69637740.0
3      france   Tous publics      None       None  eric lartigau          NaN
4  etats-unis   Tous publics         R       None           None    8004283.0

   salles_fr            studio estimation
0      783.0  20th century fox       None
1      399.0               snd       None
2      455.0               snd       None
3      387.0           gaumont       None
4      145.0     sony pictures       None
Nombre de lignes avec valeur égale à -1 ou NaN ou 'nan' dans la colonne 'budget': 0

## Creation feature is_compositeur

In [227]:

data_jp['is_compositeur'] = data_jp['compositeur'].apply(lambda x: 1 if x is not None else 0)

data_jp["is_compositeur"].value_counts()

is_compositeur
0    3154
1     618
Name: count, dtype: int64

## Création feature annee

In [228]:
# data_jp['date'] = data_jp['date'].str.strip()
# data_jp['date'] = pd.to_datetime(data_jp['date'], format='%d/%m/%Y')
data_jp['annee'] = data_jp['semaine_fr'].str.extract(r'(\d{4})')

data_jp.head()

,titre,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pays,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio,estimation,is_compositeur,annee
0,l'age de glace 3 - le temps des dinosaures,90000000,None,2009-07-03,2009-07-01,87,2403734,1,animation,etats-unis,Tous publics,PG,None,None,41690382.0,783.0,20th century fox,None,0,2009
1,l'ile de nim,37000000,None,2008-04-09,2008-04-04,95,243392,0,film familial,etats-unis,Tous publics,PG,None,None,13210579.0,399.0,snd,None,0,2008
2,twilight - chapitre 1 : fascination,37000000,None,2009-01-07,2008-11-21,120,755835,1,fantasy,etats-unis,Tous publics,PG,None,None,69637740.0,455.0,snd,None,0,2009
3,#jesuislà,11378260,None,2020-02-05,None,98,112363,0,comédie,france,Tous publics,None,None,eric lartigau,NaN,387.0,gaumont,None,0,2020
4,#pire soirée,20000000,None,2017-08-02,2017-06-16,101,66666,0,comédie,etats-unis,Tous publics,R,None,None,8004283.0,145.0,sony pictures,None,0,2017

## Nettoyage target entrees

In [229]:
# data_jp['entrees_fr'] = data_jp['entrees_fr'].replace('.0', '').astype(int) 
# data_jp['entrees_usa'] = data_jp['entrees_usa'].replace('.0', '').astype(int) 

# data_jp.head()

## Mapping feature franchise

In [230]:
# # Transforme les NaN en 0, et les franchise en 1
# data_jp["franchise"] = data_jp["franchise"].fillna("0")
# franchise = data_jp[data_jp["franchise"] != "0"]
# data_jp.loc[franchise.index, "franchise"] = "1"
data_jp["franchise"] = data_jp["franchise"].astype(str)
data_jp["franchise"].value_counts()
# data_jp.head()

franchise
0    3237
1     535
Name: count, dtype: int64

## Nettoyage feature genre

In [231]:
# Supprime les genre avec trop peu d'apparitions
data_jp = data_jp.loc[data_jp['genres'] != -1]

data_jp["genres"].value_counts()


# data_jp = data_jp[data_jp["genre"] != "Court-métrage"]
# data_jp = data_jp[data_jp["genre"] != "X - Erotique"]

# display(data_jp["genre"].value_counts())

genres
comédie               799
drame                 679
aventure - action     459
thriller              430
comédie dramatique    231
animation             226
romance               186
science fiction       156
fantasy               141
film familial         137
comicbook             105
horreur                81
guerre                 36
western                31
musical                30
péplum                 19
catastrophe            13
documentaire           13
Name: count, dtype: int64

## Création feature origine

In [232]:
data_jp["origine"] = data_jp["pays"]
autres_pays = data_jp[(data_jp["pays"] != "etats-unis") & (data_jp["pays"] != "france")]
data_jp.loc[autres_pays.index, "origine"] = "Autre"

cols_drop = ["pays"]
data_jp = data_jp.drop(cols_drop, axis=1)

data_jp["origine"].value_counts()
display(data_jp.head())

,titre,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio,estimation,is_compositeur,annee,origine
0,l'age de glace 3 - le temps des dinosaures,90000000,None,2009-07-03,2009-07-01,87,2403734,1,animation,Tous publics,PG,None,None,41690382.0,783.0,20th century fox,None,0,2009,etats-unis
1,l'ile de nim,37000000,None,2008-04-09,2008-04-04,95,243392,0,film familial,Tous publics,PG,None,None,13210579.0,399.0,snd,None,0,2008,etats-unis
2,twilight - chapitre 1 : fascination,37000000,None,2009-01-07,2008-11-21,120,755835,1,fantasy,Tous publics,PG,None,None,69637740.0,455.0,snd,None,0,2009,etats-unis
3,#jesuislà,11378260,None,2020-02-05,None,98,112363,0,comédie,Tous publics,None,None,eric lartigau,NaN,387.0,gaumont,None,0,2020,france
4,#pire soirée,20000000,None,2017-08-02,2017-06-16,101,66666,0,comédie,Tous publics,R,None,None,8004283.0,145.0,sony pictures,None,0,2017,etats-unis

## netoyage de la feature salles_fr

In [233]:
data_jp['salles_fr'] = data_jp['salles_fr'].astype(str).str.replace('.0', '')

data_jp['salles_fr'] = data_jp['salles_fr'].str.replace(' ', '')

data_jp['salles_fr'].replace('-', np.nan, inplace=True)

# Convertir la colonne en float
data_jp['salles_fr'] = data_jp['salles_fr'].astype(float)

# Remplacer les NaN par -1
data_jp['salles_fr'].fillna(-1, inplace=True)

# Convertir en entier
data_jp['salles_fr'] = data_jp['salles_fr'].astype(int)

data_jp = data_jp[data_jp['salles_fr'] != -1]

# Réinitialiser l'index si nécessaire
data_jp.reset_index(drop=True, inplace=True)

# print(data_jp['salles_fr'].unique())
nombre_de_moins_un = (data_jp['salles_fr'] == -1).sum()
print("Nombre de valeurs égales à -1 dans la colonne 'salles_fr':", nombre_de_moins_un)

Nombre de valeurs égales à -1 dans la colonne 'salles_fr': 0

/var/folders/2d/rl2wdlyn7t93k68_f2b6tmzw0000gn/T/ipykernel_1648/1239981322.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_jp['salles_fr'].replace('-', np.nan, inplace=True)
/var/folders/2d/rl2wdlyn7t93k68_f2b6tmzw0000gn/T/ipykernel_1648/1239981322.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_jp['salles_fr'].fillna(-1, inplace=True)

## Modifications des types des features

In [234]:
import pandas as pd

# Supposons que votre DataFrame s'appelle data_jp
# Remplacer toutes les valeurs NaN par -1


colonnes_a_supprimer = ["semaine_fr","semaine_usa", "compositeur", "producteur", "realisateur"]

data_jp.drop(columns=colonnes_a_supprimer, inplace=True)

display(data_jp.head())
display(data_jp.info())

,titre,budget,duree,entrees_fr,franchise,genres,pegi_fr,pegi_usa,entrees_usa,salles_fr,studio,estimation,is_compositeur,annee,origine
0,l'age de glace 3 - le temps des dinosaures,90000000,87,2403734,1,animation,Tous publics,PG,41690382.0,783,20th century fox,None,0,2009,etats-unis
1,l'ile de nim,37000000,95,243392,0,film familial,Tous publics,PG,13210579.0,399,snd,None,0,2008,etats-unis
2,twilight - chapitre 1 : fascination,37000000,120,755835,1,fantasy,Tous publics,PG,69637740.0,455,snd,None,0,2009,etats-unis
3,#jesuislà,11378260,98,112363,0,comédie,Tous publics,None,NaN,387,gaumont,None,0,2020,france
4,#pire soirée,20000000,101,66666,0,comédie,Tous publics,R,8004283.0,145,sony pictures,None,0,2017,etats-unis

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   titre           3276 non-null   object
 1   budget          3276 non-null   object
 2   duree           3276 non-null   int64
 3   entrees_fr      3276 non-null   int64
 4   franchise       3276 non-null   object
 5   genres          3276 non-null   object
 6   pegi_fr         2872 non-null   object
 7   pegi_usa        2470 non-null   object
 8   entrees_usa     2624 non-null   float64
 9   salles_fr       3276 non-null   int64
 10  studio          3251 non-null   object
 11  estimation      0 non-null      object
 12  is_compositeur  3276 non-null   int64
 13  annee           3276 non-null   object
 14  origine         3276 non-null   object
dtypes: float64(1), int64(4), object(10)
memory usage: 384.0+ KB

None

In [235]:


data_jp = data_jp.astype({
                       "budget": "int64",
                       "franchise": "category",
                       "genres": "category",
                       "pegi_fr": "category",
                       "pegi_usa": "category",
                       "studio": "object",
                       "is_compositeur": "category",
                       "annee": "int64",
                       "origine": "category",
                       })

data_jp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   titre           3276 non-null   object
 1   budget          3276 non-null   int64
 2   duree           3276 non-null   int64
 3   entrees_fr      3276 non-null   int64
 4   franchise       3276 non-null   category
 5   genres          3276 non-null   category
 6   pegi_fr         2872 non-null   category
 7   pegi_usa        2470 non-null   category
 8   entrees_usa     2624 non-null   float64
 9   salles_fr       3276 non-null   int64
 10  studio          3251 non-null   object
 11  estimation      0 non-null      object
 12  is_compositeur  3276 non-null   category
 13  annee           3276 non-null   int64
 14  origine         3276 non-null   category
dtypes: category(6), float64(1), int64(5), object(3)
memory usage: 251.0+ KB

## Exportation en pickle et .csv

In [236]:
data_jp.to_pickle("datasets/dataset_sql_cleaned.pkl")
data_jp.to_csv("datasets/dataset_sql_cleaned.csv")

display(data_jp.head())

,titre,budget,duree,entrees_fr,franchise,genres,pegi_fr,pegi_usa,entrees_usa,salles_fr,studio,estimation,is_compositeur,annee,origine
0,l'age de glace 3 - le temps des dinosaures,90000000,87,2403734,1,animation,Tous publics,PG,41690382.0,783,20th century fox,None,0,2009,etats-unis
1,l'ile de nim,37000000,95,243392,0,film familial,Tous publics,PG,13210579.0,399,snd,None,0,2008,etats-unis
2,twilight - chapitre 1 : fascination,37000000,120,755835,1,fantasy,Tous publics,PG,69637740.0,455,snd,None,0,2009,etats-unis
3,#jesuislà,11378260,98,112363,0,comédie,Tous publics,NaN,NaN,387,gaumont,None,0,2020,france
4,#pire soirée,20000000,101,66666,0,comédie,Tous publics,R,8004283.0,145,sony pictures,None,0,2017,etats-unis

Reflexions :

TYPES
- INT -> budget, entrees
- DATETIME-> date
- OBJECT -> acteurs, compositeur, pays, producteur, realisateur, studio, titre
- CATEGORY -> franchise, genre, remake, is_compositeur, origine

PREPROCESSING
- Regarder comment utiliser la date dans preprocessing -> sinon créer feature année et faire un ordinal encoding
- CountFrequency pour studio

- Col_to_drop -> acteurs, compositeur, pays, producteur, realisateur, Titre