In [419]:
import pandas as pd
import pickle
import mysql.connector

# DATASET JPBOX OFFICE

In [420]:


# Informations de connexion à la base de données
host = "casq.mysql.database.azure.com"
user = "tenshi"
password = "Simplon59"
database = "cinema_db"

# Connexion à la base de données
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Requête SQL pour extraire les données
sql_query = "SELECT f.*, s.nom as 'studio_name' FROM films f JOIN film_studio fs ON f.film_id = fs.film_id JOIN studios s ON s.studio_id = fs.studio_id;"
# sql_query = "SELECT f.*, s.nom AS 'studio_name', p_realisateur.nom AS 'realisateur_nom', p_compositeur.nom AS 'compositeur_nom', p_producteur.nom AS 'producteur_nom', p_acteur.nom AS 'acteur_nom' FROM films f JOIN film_studio fs ON f.film_id = fs.film_id JOIN studios s ON s.studio_id = fs.studio_id JOIN film_personne fp_realisateur ON fp_realisateur.film_id = f.film_id AND fp_realisateur.role = 'realisateur' JOIN personnes p_realisateur ON p_realisateur.personne_id = fp_realisateur.personne_id JOIN film_personne fp_compositeur ON fp_compositeur.film_id = f.film_id AND fp_compositeur.role = 'compositeur' JOIN personnes p_compositeur ON p_compositeur.personne_id = fp_compositeur.personne_id JOIN film_personne fp_producteur ON fp_producteur.film_id = f.film_id AND fp_producteur.role = 'producteur' JOIN personnes p_producteur ON p_producteur.personne_id = fp_producteur.personne_id JOIN film_personne fp_acteur ON fp_acteur.film_id = f.film_id AND fp_acteur.role = 'acteur' JOIN personnes p_acteur ON p_acteur.personne_id = fp_acteur.personne_id;"
# Lecture des données dans un DataFrame pandas
data_jp = pd.read_sql(sql_query, conn)

# Fermeture de la connexion à la base de données
conn.close()

# Enregistrement des données dans un fichier CSV
data_jp.to_csv("datasets/donnees_SQL.csv", index=False)

In [421]:
import numpy as np
data = pd.read_csv("input_datasets/modif_csv_cleaned.csv")

data['entrees_fr'] = data['entrees_fr'].replace('[$\s]', '', regex=True).replace('-', np.nan, regex=True).astype(float)
data['entrees_usa'] = data['entrees_usa'].replace('[$\s]', '', regex=True).replace('-', np.nan, regex=True).astype(float)
df = pd.DataFrame(data)

data_jp = data
data_jp.fillna(-1, inplace=True)
display(data.head())

,titre,acteurs,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pays,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio
0,l'age de glace 3 - le temps des dinosaures,"vincent cassel, gérard lanvin, simon pegg, qu...",90000000.0,-1,2009-07-03,2009-07-01,87,2403734.0,1,animation,etats-unis,Tous publics,PG,-1,-1,41690382.0,783,20th century fox
1,l'ile de nim,"gerard butler, jodie foster",37000000.0,-1,2008-04-09,2008-04-04,95,243392.0,0,film familial,etats-unis,Tous publics,PG,-1,-1,13210579.0,399,snd
2,twilight - chapitre 1 : fascination,"robert pattinson, kristen stewart",37000000.0,-1,2009-01-07,2008-11-21,120,755835.0,1,fantasy,etats-unis,Tous publics,PG,-1,-1,69637740.0,455,snd
3,#jesuislà,alain chabat,11378260.0,-1,2020-02-05,-1,98,112363.0,0,comédie,france,Tous publics,-1,-1,eric lartigau,-1.0,387,gaumont
4,#pire soirée,"scarlett johansson, demi moore",20000000.0,-1,2017-08-02,2017-06-16,101,66666.0,0,comédie,etats-unis,Tous publics,R,-1,-1,8004283.0,145,sony pictures

In [422]:
data_jp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4547 entries, 0 to 4546
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titre        4547 non-null   object
 1   acteurs      4547 non-null   object
 2   budget       4547 non-null   float64
 3   compositeur  4547 non-null   object
 4   semaine_fr   4547 non-null   object
 5   semaine_usa  4547 non-null   object
 6   duree        4547 non-null   int64
 7   entrees_fr   4547 non-null   float64
 8   franchise    4547 non-null   int64
 9   genres       4547 non-null   object
 10  pays         4547 non-null   object
 11  pegi_fr      4547 non-null   object
 12  pegi_usa     4547 non-null   object
 13  producteur   4547 non-null   object
 14  realisateur  4547 non-null   object
 15  entrees_usa  4547 non-null   float64
 16  salles_fr    4547 non-null   object
 17  studio       4547 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 639.5+ KB

## Suppression des doublons

In [423]:
# Suppression des doublons qui n'ont pas toutes les informations
# data_jp = data_jp.dropna(subset=['entrees_premiere_semaine', 'acteurs', 'budget', 'genre'])

# Suppression des doublons avec comme point commun le titre du film
data_jp.drop_duplicates(subset=["titre"], inplace=True, ignore_index=True)

data_jp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4547 entries, 0 to 4546
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titre        4547 non-null   object
 1   acteurs      4547 non-null   object
 2   budget       4547 non-null   float64
 3   compositeur  4547 non-null   object
 4   semaine_fr   4547 non-null   object
 5   semaine_usa  4547 non-null   object
 6   duree        4547 non-null   int64
 7   entrees_fr   4547 non-null   float64
 8   franchise    4547 non-null   int64
 9   genres       4547 non-null   object
 10  pays         4547 non-null   object
 11  pegi_fr      4547 non-null   object
 12  pegi_usa     4547 non-null   object
 13  producteur   4547 non-null   object
 14  realisateur  4547 non-null   object
 15  entrees_usa  4547 non-null   float64
 16  salles_fr    4547 non-null   object
 17  studio       4547 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 639.5+ KB

## Affichage des features

In [424]:
data_jp.head()

,titre,acteurs,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pays,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio
0,l'age de glace 3 - le temps des dinosaures,"vincent cassel, gérard lanvin, simon pegg, qu...",90000000.0,-1,2009-07-03,2009-07-01,87,2403734.0,1,animation,etats-unis,Tous publics,PG,-1,-1,41690382.0,783,20th century fox
1,l'ile de nim,"gerard butler, jodie foster",37000000.0,-1,2008-04-09,2008-04-04,95,243392.0,0,film familial,etats-unis,Tous publics,PG,-1,-1,13210579.0,399,snd
2,twilight - chapitre 1 : fascination,"robert pattinson, kristen stewart",37000000.0,-1,2009-01-07,2008-11-21,120,755835.0,1,fantasy,etats-unis,Tous publics,PG,-1,-1,69637740.0,455,snd
3,#jesuislà,alain chabat,11378260.0,-1,2020-02-05,-1,98,112363.0,0,comédie,france,Tous publics,-1,-1,eric lartigau,-1.0,387,gaumont
4,#pire soirée,"scarlett johansson, demi moore",20000000.0,-1,2017-08-02,2017-06-16,101,66666.0,0,comédie,etats-unis,Tous publics,R,-1,-1,8004283.0,145,sony pictures

## Suppression features inutiles

In [425]:
# cols_drop = ["film_id"]

# data_jp = data_jp.drop(cols_drop, axis=1)

## Nettoyage features acteurs, réalisateurs, studio, titre

In [426]:
# # Acteurs
# data_jp['acteurs'] = data_jp['acteurs'].str.strip().replace(r"\r\n", "", regex=True).replace(r"\s+", " ", regex=True) 

# # Réalisateurs
# for index, value in data_jp['realisateur'].items():
#     if isinstance(value,str):
#         value = value.replace('\r\n','')
#         value = value.replace('-','')
#         value = value.strip()
#         data_jp.at[index, 'realisateur'] = value

# # Studio
# for index, value in data_jp['studio'].items():
#     if isinstance(value,str):
#         value = value.replace('\r\n','')
#         value = value.strip()
#         data_jp.at[index, 'studio'] = value

# # Titre
# for index, value in data_jp['titre'].items():
#     if isinstance(value,str):
#         value = value.replace('\r\n','')
#         value = value.strip()
#         data_jp.at[index, 'titre'] = value

# data_jp.head()

## Nettoyage feature budget

In [427]:
# def format_budget(budget):

#     # Transforme les euros en dollars
#     try:
#         if "€" in str(budget):
#             budget = str(budget).replace('€', '').replace(' ', '').replace('?', '')
#             budget = int(float(budget)) * 1,1
#         else:
#             budget = str(budget).replace('$', '').replace(' ', '').replace('?', '')
#     except:
#         budget = 0
    
#     return budget

# data_jp['budget'] = data_jp['budget'].apply(format_budget)

# # data_jp.head(5)
# pd.set_option('display.max_rows', None)
# data_jp['budget'] = data_jp['budget'].replace('[$\s]', '', regex=True).replace('-', np.nan, regex=True).astype(str)

data_jp['budget'] = data_jp['budget'].astype(str).str.replace('.0', '')
display(data_jp.head())
# # Afficher les valeurs
# print(data_jp["studio_name"].value_counts())

,titre,acteurs,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pays,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio
0,l'age de glace 3 - le temps des dinosaures,"vincent cassel, gérard lanvin, simon pegg, qu...",90000000,-1,2009-07-03,2009-07-01,87,2403734.0,1,animation,etats-unis,Tous publics,PG,-1,-1,41690382.0,783,20th century fox
1,l'ile de nim,"gerard butler, jodie foster",37000000,-1,2008-04-09,2008-04-04,95,243392.0,0,film familial,etats-unis,Tous publics,PG,-1,-1,13210579.0,399,snd
2,twilight - chapitre 1 : fascination,"robert pattinson, kristen stewart",37000000,-1,2009-01-07,2008-11-21,120,755835.0,1,fantasy,etats-unis,Tous publics,PG,-1,-1,69637740.0,455,snd
3,#jesuislà,alain chabat,11378260,-1,2020-02-05,-1,98,112363.0,0,comédie,france,Tous publics,-1,-1,eric lartigau,-1.0,387,gaumont
4,#pire soirée,"scarlett johansson, demi moore",20000000,-1,2017-08-02,2017-06-16,101,66666.0,0,comédie,etats-unis,Tous publics,R,-1,-1,8004283.0,145,sony pictures

In [428]:
# data_jp['budget'] = data_jp['budget'].str.replace('[\$,€]', '', regex=True).str.replace(' ', '').str.replace('?', '')
# data_jp['budget'] = pd.to_numeric(data_jp['budget'], errors='coerce').fillna(0).astype(int)

# data_jp.head()

## Creation feature is_compositeur

In [429]:
# # Transforme les NaN en 0, et les compositeurs en 1
# data_jp["is_compositeur"] = data_jp["compositeur"]
# data_jp["is_compositeur"] = data_jp["is_compositeur"].fillna("0")
# compositeurs = data_jp[data_jp["is_compositeur"] != "0"]
# data_jp.loc[compositeurs.index, "is_compositeur"] = "1"
data_jp['is_compositeur'] = data_jp['compositeur'].apply(lambda x: 1 if x != -1 else 0)

# data_jp["is_compositeur"].value_counts()

## Création feature annee

In [430]:
# data_jp["annee"] = data_jp["date"]

# for index, value in data_jp['annee'].items():
#     if isinstance(value,str):
#         d, m, y = value.split('/')
#         data_jp.at[index, 'annee'] = y

# data_jp.head()

## Nettoyage feature date

In [431]:
# data_jp['date'] = data_jp['date'].str.strip()
# data_jp['date'] = pd.to_datetime(data_jp['date'], format='%d/%m/%Y')
data_jp['annee'] = data_jp['semaine_fr'].str.extract(r'(\d{4})')

data_jp.head()

,titre,acteurs,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pays,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio,is_compositeur,annee
0,l'age de glace 3 - le temps des dinosaures,"vincent cassel, gérard lanvin, simon pegg, qu...",90000000,-1,2009-07-03,2009-07-01,87,2403734.0,1,animation,etats-unis,Tous publics,PG,-1,-1,41690382.0,783,20th century fox,0,2009
1,l'ile de nim,"gerard butler, jodie foster",37000000,-1,2008-04-09,2008-04-04,95,243392.0,0,film familial,etats-unis,Tous publics,PG,-1,-1,13210579.0,399,snd,0,2008
2,twilight - chapitre 1 : fascination,"robert pattinson, kristen stewart",37000000,-1,2009-01-07,2008-11-21,120,755835.0,1,fantasy,etats-unis,Tous publics,PG,-1,-1,69637740.0,455,snd,0,2009
3,#jesuislà,alain chabat,11378260,-1,2020-02-05,-1,98,112363.0,0,comédie,france,Tous publics,-1,-1,eric lartigau,-1.0,387,gaumont,0,2020
4,#pire soirée,"scarlett johansson, demi moore",20000000,-1,2017-08-02,2017-06-16,101,66666.0,0,comédie,etats-unis,Tous publics,R,-1,-1,8004283.0,145,sony pictures,0,2017

## Nettoyage target entrees

In [432]:
data_jp['entrees_fr'] = data_jp['entrees_fr'].replace('.0', '').astype(int) 
data_jp['entrees_usa'] = data_jp['entrees_usa'].replace('.0', '').astype(int) 

data_jp.head()

,titre,acteurs,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pays,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio,is_compositeur,annee
0,l'age de glace 3 - le temps des dinosaures,"vincent cassel, gérard lanvin, simon pegg, qu...",90000000,-1,2009-07-03,2009-07-01,87,2403734,1,animation,etats-unis,Tous publics,PG,-1,-1,41690382,783,20th century fox,0,2009
1,l'ile de nim,"gerard butler, jodie foster",37000000,-1,2008-04-09,2008-04-04,95,243392,0,film familial,etats-unis,Tous publics,PG,-1,-1,13210579,399,snd,0,2008
2,twilight - chapitre 1 : fascination,"robert pattinson, kristen stewart",37000000,-1,2009-01-07,2008-11-21,120,755835,1,fantasy,etats-unis,Tous publics,PG,-1,-1,69637740,455,snd,0,2009
3,#jesuislà,alain chabat,11378260,-1,2020-02-05,-1,98,112363,0,comédie,france,Tous publics,-1,-1,eric lartigau,-1,387,gaumont,0,2020
4,#pire soirée,"scarlett johansson, demi moore",20000000,-1,2017-08-02,2017-06-16,101,66666,0,comédie,etats-unis,Tous publics,R,-1,-1,8004283,145,sony pictures,0,2017

## Mapping feature franchise

In [433]:
# # Transforme les NaN en 0, et les franchise en 1
# data_jp["franchise"] = data_jp["franchise"].fillna("0")
# franchise = data_jp[data_jp["franchise"] != "0"]
# data_jp.loc[franchise.index, "franchise"] = "1"
data_jp["franchise"] = data_jp["franchise"].astype(str)
data_jp["franchise"].value_counts()
# data_jp.head()

franchise
0    3996
1     551
Name: count, dtype: int64

## Nettoyage feature genre

In [434]:
# Supprime les genre avec trop peu d'apparitions
data_jp = data_jp.loc[data_jp['genres'] != -1]

data_jp["genres"].value_counts()


# data_jp = data_jp[data_jp["genre"] != "Court-métrage"]
# data_jp = data_jp[data_jp["genre"] != "X - Erotique"]

# display(data_jp["genre"].value_counts())

genres
comédie               953
drame                 930
thriller              550
aventure - action     488
comédie dramatique    320
animation             253
romance               215
science fiction       171
film familial         152
fantasy               145
comicbook             105
horreur                88
guerre                 37
musical                37
western                36
documentaire           34
péplum                 19
catastrophe            13
Name: count, dtype: int64

## Création feature origine

In [435]:
data_jp["origine"] = data_jp["pays"]
autres_pays = data_jp[(data_jp["pays"] != "etats-unis") & (data_jp["pays"] != "france")]
data_jp.loc[autres_pays.index, "origine"] = "Autre"

cols_drop = ["pays"]
data_jp = data_jp.drop(cols_drop, axis=1)

data_jp["origine"].value_counts()

/var/folders/2d/rl2wdlyn7t93k68_f2b6tmzw0000gn/T/ipykernel_3816/3056577138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_jp["origine"] = data_jp["pays"]

origine
etats-unis    2983
france        1071
Autre          492
Name: count, dtype: int64

## netoyage de la feature salles_fr

In [436]:
data_jp['salles_fr'] = data_jp['salles_fr'].str.replace(' ', '')

data_jp['salles_fr'].replace('-', np.nan, inplace=True)

# Convertir la colonne en float
data_jp['salles_fr'] = data_jp['salles_fr'].astype(float)

# Remplacer les NaN par -1
data_jp['salles_fr'].fillna(-1, inplace=True)

# Convertir en entier
data_jp['salles_fr'] = data_jp['salles_fr'].astype(int)

# print(data_jp['salles_fr'].unique())

/var/folders/2d/rl2wdlyn7t93k68_f2b6tmzw0000gn/T/ipykernel_3816/2966332480.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_jp['salles_fr'].replace('-', np.nan, inplace=True)
/var/folders/2d/rl2wdlyn7t93k68_f2b6tmzw0000gn/T/ipykernel_3816/2966332480.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_jp['salles_fr'].fillna(-1, inplace=True)

## Modifications des types des features

In [437]:
import pandas as pd

# Supposons que votre DataFrame s'appelle data_jp
# Remplacer toutes les valeurs NaN par -1


colonnes_a_supprimer = ["semaine_fr","semaine_usa", "acteurs", "compositeur", "producteur", "realisateur"]

data_jp.drop(columns=colonnes_a_supprimer, inplace=True)

display(data_jp.head())
display(data_jp.info())

,titre,budget,duree,entrees_fr,franchise,genres,pegi_fr,pegi_usa,entrees_usa,salles_fr,studio,is_compositeur,annee,origine
0,l'age de glace 3 - le temps des dinosaures,90000000,87,2403734,1,animation,Tous publics,PG,41690382,783,20th century fox,0,2009,etats-unis
1,l'ile de nim,37000000,95,243392,0,film familial,Tous publics,PG,13210579,399,snd,0,2008,etats-unis
2,twilight - chapitre 1 : fascination,37000000,120,755835,1,fantasy,Tous publics,PG,69637740,455,snd,0,2009,etats-unis
3,#jesuislà,11378260,98,112363,0,comédie,Tous publics,-1,-1,387,gaumont,0,2020,france
4,#pire soirée,20000000,101,66666,0,comédie,Tous publics,R,8004283,145,sony pictures,0,2017,etats-unis

<class 'pandas.core.frame.DataFrame'>
Index: 4546 entries, 0 to 4546
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   titre           4546 non-null   object
 1   budget          4546 non-null   object
 2   duree           4546 non-null   int64
 3   entrees_fr      4546 non-null   int64
 4   franchise       4546 non-null   object
 5   genres          4546 non-null   object
 6   pegi_fr         4546 non-null   object
 7   pegi_usa        4546 non-null   object
 8   entrees_usa     4546 non-null   int64
 9   salles_fr       4546 non-null   int64
 10  studio          4546 non-null   object
 11  is_compositeur  4546 non-null   int64
 12  annee           4546 non-null   object
 13  origine         4546 non-null   object
dtypes: int64(5), object(9)
memory usage: 661.8+ KB

None

In [439]:


data_jp = data_jp.astype({
                       "budget": "int64",
                       "franchise": "category",
                       "genres": "category",
                       "pegi_fr": "category",
                       "pegi_usa": "category",
                       "studio": "object",
                       "is_compositeur": "category",
                       "annee": "int64",
                       "origine": "category",
                       })

data_jp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4546 entries, 0 to 4546
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   titre           4546 non-null   object
 1   budget          4546 non-null   int64
 2   duree           4546 non-null   int64
 3   entrees_fr      4546 non-null   int64
 4   franchise       4546 non-null   category
 5   genres          4546 non-null   category
 6   pegi_fr         4546 non-null   category
 7   pegi_usa        4546 non-null   category
 8   entrees_usa     4546 non-null   int64
 9   salles_fr       4546 non-null   int64
 10  studio          4546 non-null   object
 11  is_compositeur  4546 non-null   category
 12  annee           4546 non-null   int64
 13  origine         4546 non-null   category
dtypes: category(6), int64(6), object(2)
memory usage: 476.8+ KB

## Exportation en pickle et .csv

In [ ]:
data_jp.to_pickle("datasets/dataset_sql_cleaned.pkl")
data_jp.to_csv("datasets/dataset_sql_cleaned.csv")

display(data_jp.head())

,titre,acteurs,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio,is_compositeur,annee,origine
0,l'age de glace 3 - le temps des dinosaures,"vincent cassel, gérard lanvin, simon pegg, qu...",90000000,-1,2009-07-03,2009-07-01,87,2403734,1,animation,Tous publics,PG,-1,-1,41690382,783,20th century fox,0,2009,etats-unis
1,l'ile de nim,"gerard butler, jodie foster",37000000,-1,2008-04-09,2008-04-04,95,243392,0,film familial,Tous publics,PG,-1,-1,13210579,399,snd,0,2008,etats-unis
2,twilight - chapitre 1 : fascination,"robert pattinson, kristen stewart",37000000,-1,2009-01-07,2008-11-21,120,755835,1,fantasy,Tous publics,PG,-1,-1,69637740,455,snd,0,2009,etats-unis
3,#jesuislà,alain chabat,11378260,-1,2020-02-05,-1,98,112363,0,comédie,Tous publics,-1,-1,eric lartigau,-1,387,gaumont,0,2020,france
4,#pire soirée,"scarlett johansson, demi moore",20000000,-1,2017-08-02,2017-06-16,101,66666,0,comédie,Tous publics,R,-1,-1,8004283,145,sony pictures,0,2017,etats-unis

Reflexions :

TYPES
- INT -> budget, entrees
- DATETIME-> date
- OBJECT -> acteurs, compositeur, pays, producteur, realisateur, studio, titre
- CATEGORY -> franchise, genre, remake, is_compositeur, origine

PREPROCESSING
- Regarder comment utiliser la date dans preprocessing -> sinon créer feature année et faire un ordinal encoding
- CountFrequency pour studio

- Col_to_drop -> acteurs, compositeur, pays, producteur, realisateur, Titre