In [100]:
import pandas as pd


df = pd.read_csv("moviesdata.csv")

# Dropping 'url' and 'salles_premiere_semaine' columns
movies_data_cleaned = df.drop(['url'], axis=1)

# Keeping rows where both 'acteurs' and 'budget' are not null to avoid incomplete data
movies_data_cleaned = movies_data_cleaned.dropna(subset=['acteurs', 'budget'])

#Dropping duplicate rows based on all columns to ensure unique movie entries
movies_data_cleaned = movies_data_cleaned.drop_duplicates()

movies_data_cleaned = movies_data_cleaned.groupby('titre').agg({
    'acteurs': 'first',  # Prendre la première valeur non nulle
    'budget': 'first',   # Prendre la première valeur non nulle
    'compositeur': 'first',  # Prendre la première valeur non nulle
    'date': 'first',     # Prendre la première valeur non nulle
    'date_US': 'first',  # Prendre la première valeur non nulle
    'duree': 'first',    # Prendre la première valeur non nulle
    'entrees_premiere_semaine': 'first',  # Prendre la première valeur non nulle
    'franchise': 'first',  # Prendre la première valeur non nulle
    'genre': 'first',     # Prendre la première valeur non nulle
    'pays': 'first',      # Prendre la première valeur non nulle
    'pegi_FR': 'first',   # Prendre la première valeur non nulle
    'pegi_US': 'first',   # Prendre la première valeur non nulle
    'producteur': 'first',  # Prendre la première valeur non nulle
    'realisateur': 'first',  # Prendre la première valeur non nulle
    'recette_premier_wk_US': 'first',  # Prendre la première valeur non nulle
    'remake': 'first',    # Prendre la première valeur non nulle
    'salles_premiere_semaine': 'first',  # Prendre la première valeur non nulle
    'studio': 'first'     # Prendre la première valeur non nulle
}).reset_index()

movies_data_cleaned.head()

# movies_data_cleaned.to_csv("movies_csv_uncleaned.csv")

In [88]:
movies_data_cleaned.shape

(4549, 19)

### Titre

In [89]:
for index, value in movies_data_cleaned['titre'].items():
    if isinstance(value,str):
        value = value.replace('\r\n','')
        value = value.strip()
        movies_data_cleaned.at[index, 'titre'] = value

### Acteurs

In [90]:
movies_data_cleaned['acteurs'] = movies_data_cleaned['acteurs'].str.strip().replace(r"\r\n", "", regex=True).replace(r"\s+", " ", regex=True) 

movies_data_cleaned.head()

,titre,acteurs,budget,compositeur,date,date_US,duree,entrees_premiere_semaine,franchise,genre,pays,pegi_FR,pegi_US,producteur,realisateur,recette_premier_wk_US,remake,salles_premiere_semaine,studio
0,L'Age de glace 3 - Le Temps des dinosaures,"Vincent Cassel, Gérard Lanvin, Simon Pegg, - Q...",90 000 000 $,None,03/07/2009,\r\n 01/07/2009,\r\n 1h 27min...,2 403 734,Franchise,Animation,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,41 690 382 $,None,783,\r\n 20th Century Fox
1,L'Ile de Nim,"Gerard Butler, Jodie Foster",37 000 000 $,None,09/04/2008,\r\n 04/04/2008,\r\n 1h 35min...,243 392,None,Film familial,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,13 210 579 $,None,399,\r\n SND
2,Twilight - Chapitre 1 : Fascination,"Robert Pattinson, Kristen Stewart",37 000 000 $,None,07/01/2009,\r\n 21/11/2008,\r\n 2h 00min...,755 835,Franchise,Fantasy,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,69 637 740 $,None,455,\r\n SND
3,#Jesuislà,Alain Chabat,11 378 260 €,None,05/02/2020,\r\n 00/00/0000,\r\n 1h 38min...,112 363,None,Comédie,France,Tous publics,"<div class=""bloc_infos_center tablesmall1"" ite...",None,\r\n Eric L...,None,None,387,\r\n Gaumont
4,#Pire soirée,"Scarlett Johansson, Demi Moore",20 000 000 $,None,02/08/2017,\r\n 16/06/2017,\r\n 1h 41min...,66 666,None,Comédie,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,8 004 283 $,None,145,\r\n Sony Pictures

### Studio

In [91]:
for index, value in movies_data_cleaned['studio'].items():
    if isinstance(value,str):
        value = value.replace('\r\n','')
        value = value.strip()
        movies_data_cleaned.at[index, 'studio'] = value

### Réalisateur

In [92]:
for index, value in movies_data_cleaned['realisateur'].items():
    if isinstance(value,str):
        value = value.replace('\r\n','')
        value = value.replace('-','')
        value = value.strip()
        movies_data_cleaned.at[index, 'realisateur'] = value

movies_data_cleaned.head()

,titre,acteurs,budget,compositeur,date,date_US,duree,entrees_premiere_semaine,franchise,genre,pays,pegi_FR,pegi_US,producteur,realisateur,recette_premier_wk_US,remake,salles_premiere_semaine,studio
0,L'Age de glace 3 - Le Temps des dinosaures,"Vincent Cassel, Gérard Lanvin, Simon Pegg, - Q...",90 000 000 $,None,03/07/2009,\r\n 01/07/2009,\r\n 1h 27min...,2 403 734,Franchise,Animation,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,41 690 382 $,None,783,20th Century Fox
1,L'Ile de Nim,"Gerard Butler, Jodie Foster",37 000 000 $,None,09/04/2008,\r\n 04/04/2008,\r\n 1h 35min...,243 392,None,Film familial,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,13 210 579 $,None,399,SND
2,Twilight - Chapitre 1 : Fascination,"Robert Pattinson, Kristen Stewart",37 000 000 $,None,07/01/2009,\r\n 21/11/2008,\r\n 2h 00min...,755 835,Franchise,Fantasy,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,69 637 740 $,None,455,SND
3,#Jesuislà,Alain Chabat,11 378 260 €,None,05/02/2020,\r\n 00/00/0000,\r\n 1h 38min...,112 363,None,Comédie,France,Tous publics,"<div class=""bloc_infos_center tablesmall1"" ite...",None,Eric Lartigau,None,None,387,Gaumont
4,#Pire soirée,"Scarlett Johansson, Demi Moore",20 000 000 $,None,02/08/2017,\r\n 16/06/2017,\r\n 1h 41min...,66 666,None,Comédie,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,8 004 283 $,None,145,Sony Pictures

### Date

In [93]:
movies_data_cleaned['date'] = movies_data_cleaned['date'].str.strip()
movies_data_cleaned['date'] = pd.to_datetime(movies_data_cleaned['date'], format='%d/%m/%Y')

movies_data_cleaned.head()

,titre,acteurs,budget,compositeur,date,date_US,duree,entrees_premiere_semaine,franchise,genre,pays,pegi_FR,pegi_US,producteur,realisateur,recette_premier_wk_US,remake,salles_premiere_semaine,studio
0,L'Age de glace 3 - Le Temps des dinosaures,"Vincent Cassel, Gérard Lanvin, Simon Pegg, - Q...",90 000 000 $,None,2009-07-03,\r\n 01/07/2009,\r\n 1h 27min...,2 403 734,Franchise,Animation,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,41 690 382 $,None,783,20th Century Fox
1,L'Ile de Nim,"Gerard Butler, Jodie Foster",37 000 000 $,None,2008-04-09,\r\n 04/04/2008,\r\n 1h 35min...,243 392,None,Film familial,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,13 210 579 $,None,399,SND
2,Twilight - Chapitre 1 : Fascination,"Robert Pattinson, Kristen Stewart",37 000 000 $,None,2009-01-07,\r\n 21/11/2008,\r\n 2h 00min...,755 835,Franchise,Fantasy,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,69 637 740 $,None,455,SND
3,#Jesuislà,Alain Chabat,11 378 260 €,None,2020-02-05,\r\n 00/00/0000,\r\n 1h 38min...,112 363,None,Comédie,France,Tous publics,"<div class=""bloc_infos_center tablesmall1"" ite...",None,Eric Lartigau,None,None,387,Gaumont
4,#Pire soirée,"Scarlett Johansson, Demi Moore",20 000 000 $,None,2017-08-02,\r\n 16/06/2017,\r\n 1h 41min...,66 666,None,Comédie,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,8 004 283 $,None,145,Sony Pictures

### Date US

In [98]:
for index, value in movies_data_cleaned['date_US'].items():
    if isinstance(value,str):
        value = value.replace('\r\n','')
        value = value.strip()
        movies_data_cleaned.at[index, 'date_US'] = value


movies_data_cleaned.head()

,titre,acteurs,budget,compositeur,date,date_US,duree,entrees_premiere_semaine,franchise,genre,pays,pegi_FR,pegi_US,producteur,realisateur,recette_premier_wk_US,remake,salles_premiere_semaine,studio
0,L'Age de glace 3 - Le Temps des dinosaures,"Vincent Cassel, Gérard Lanvin, Simon Pegg, - Q...",90000000,None,2009-07-03,01/07/2009,\r\n 1h 27min...,2403734,Franchise,Animation,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,41 690 382 $,None,783,20th Century Fox
1,L'Ile de Nim,"Gerard Butler, Jodie Foster",37000000,None,2008-04-09,04/04/2008,\r\n 1h 35min...,243392,None,Film familial,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,13 210 579 $,None,399,SND
2,Twilight - Chapitre 1 : Fascination,"Robert Pattinson, Kristen Stewart",37000000,None,2009-01-07,21/11/2008,\r\n 2h 00min...,755835,Franchise,Fantasy,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,69 637 740 $,None,455,SND
3,#Jesuislà,Alain Chabat,11378260,None,2020-02-05,00/00/0000,\r\n 1h 38min...,112363,None,Comédie,France,Tous publics,"<div class=""bloc_infos_center tablesmall1"" ite...",None,Eric Lartigau,None,None,387,Gaumont
4,#Pire soirée,"Scarlett Johansson, Demi Moore",20000000,None,2017-08-02,16/06/2017,\r\n 1h 41min...,66666,None,Comédie,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,8 004 283 $,None,145,Sony Pictures

### Budget

In [95]:
movies_data_cleaned['budget'] = movies_data_cleaned['budget'].str.replace('[\$,€]', '', regex=True).str.replace(' ', '').str.replace('?', '')
movies_data_cleaned['budget'] = pd.to_numeric(movies_data_cleaned['budget'], errors='coerce').fillna(0).astype(int)

movies_data_cleaned.head()

,titre,acteurs,budget,compositeur,date,date_US,duree,entrees_premiere_semaine,franchise,genre,pays,pegi_FR,pegi_US,producteur,realisateur,recette_premier_wk_US,remake,salles_premiere_semaine,studio
0,L'Age de glace 3 - Le Temps des dinosaures,"Vincent Cassel, Gérard Lanvin, Simon Pegg, - Q...",90000000,None,2009-07-03,01/07/2009,\r\n 1h 27min...,2 403 734,Franchise,Animation,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,41 690 382 $,None,783,20th Century Fox
1,L'Ile de Nim,"Gerard Butler, Jodie Foster",37000000,None,2008-04-09,04/04/2008,\r\n 1h 35min...,243 392,None,Film familial,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,13 210 579 $,None,399,SND
2,Twilight - Chapitre 1 : Fascination,"Robert Pattinson, Kristen Stewart",37000000,None,2009-01-07,21/11/2008,\r\n 2h 00min...,755 835,Franchise,Fantasy,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,69 637 740 $,None,455,SND
3,#Jesuislà,Alain Chabat,11378260,None,2020-02-05,00/00/0000,\r\n 1h 38min...,112 363,None,Comédie,France,Tous publics,"<div class=""bloc_infos_center tablesmall1"" ite...",None,Eric Lartigau,None,None,387,Gaumont
4,#Pire soirée,"Scarlett Johansson, Demi Moore",20000000,None,2017-08-02,16/06/2017,\r\n 1h 41min...,66 666,None,Comédie,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,8 004 283 $,None,145,Sony Pictures

### Nombre d'entrées

In [96]:
movies_data_cleaned['entrees_premiere_semaine'] = movies_data_cleaned['entrees_premiere_semaine'].str.replace(' ', '').astype(int)

,titre,acteurs,budget,compositeur,date,date_US,duree,entrees_premiere_semaine,franchise,genre,pays,pegi_FR,pegi_US,producteur,realisateur,recette_premier_wk_US,remake,salles_premiere_semaine,studio
0,L'Age de glace 3 - Le Temps des dinosaures,"Vincent Cassel, Gérard Lanvin, Simon Pegg, - Q...",90000000,None,2009-07-03,01/07/2009,\r\n 1h 27min...,2403734,Franchise,Animation,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,41 690 382 $,None,783,20th Century Fox
1,L'Ile de Nim,"Gerard Butler, Jodie Foster",37000000,None,2008-04-09,04/04/2008,\r\n 1h 35min...,243392,None,Film familial,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,13 210 579 $,None,399,SND
2,Twilight - Chapitre 1 : Fascination,"Robert Pattinson, Kristen Stewart",37000000,None,2009-01-07,21/11/2008,\r\n 2h 00min...,755835,Franchise,Fantasy,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,69 637 740 $,None,455,SND
3,#Jesuislà,Alain Chabat,11378260,None,2020-02-05,00/00/0000,\r\n 1h 38min...,112363,None,Comédie,France,Tous publics,"<div class=""bloc_infos_center tablesmall1"" ite...",None,Eric Lartigau,None,None,387,Gaumont
4,#Pire soirée,"Scarlett Johansson, Demi Moore",20000000,None,2017-08-02,16/06/2017,\r\n 1h 41min...,66666,None,Comédie,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,8 004 283 $,None,145,Sony Pictures

In [97]:
movies_data_cleaned

,titre,acteurs,budget,compositeur,date,date_US,duree,entrees_premiere_semaine,franchise,genre,pays,pegi_FR,pegi_US,producteur,realisateur,recette_premier_wk_US,remake,salles_premiere_semaine,studio
0,L'Age de glace 3 - Le Temps des dinosaures,"Vincent Cassel, Gérard Lanvin, Simon Pegg, - Q...",90000000,None,2009-07-03,01/07/2009,\r\n 1h 27min...,2403734,Franchise,Animation,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,41 690 382 $,None,783,20th Century Fox
1,L'Ile de Nim,"Gerard Butler, Jodie Foster",37000000,None,2008-04-09,04/04/2008,\r\n 1h 35min...,243392,None,Film familial,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,13 210 579 $,None,399,SND
2,Twilight - Chapitre 1 : Fascination,"Robert Pattinson, Kristen Stewart",37000000,None,2009-01-07,21/11/2008,\r\n 2h 00min...,755835,Franchise,Fantasy,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,69 637 740 $,None,455,SND
3,#Jesuislà,Alain Chabat,11378260,None,2020-02-05,00/00/0000,\r\n 1h 38min...,112363,None,Comédie,France,Tous publics,"<div class=""bloc_infos_center tablesmall1"" ite...",None,Eric Lartigau,None,None,387,Gaumont
4,#Pire soirée,"Scarlett Johansson, Demi Moore",20000000,None,2017-08-02,16/06/2017,\r\n 1h 41min...,66666,None,Comédie,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,8 004 283 $,None,145,Sony Pictures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4544,À l'intérieur (2023),Willem Dafoe,0,None,2023-11-01,17/03/2023,\r\n 1h 45min...,2654,None,Drame,Grèce,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,510 110 $,None,None,-
4545,À la belle étoile,Pascal Legitimus,0,None,2023-02-22,00/00/0000,\r\n 1h 50min...,67974,None,Comédie dramatique,France,Tous publics,"<div class=""bloc_infos_center tablesmall1"" ite...",None,None,None,None,225,Bac Films
4546,À la poursuite de demain,George Clooney,190000000,None,2015-05-20,22/05/2015,\r\n 2h 10min...,418815,None,Science Fiction,Etats-Unis,Tous publics,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,Brad Bird,33 028 165 $,None,551,Walt Disney Pictures
4547,À plein temps,Laure Calamy,2700000,None,2022-03-16,03/02/2023,\r\n 1h 25min...,100254,None,Thriller,France,Tous publics,"<div class=""bloc_infos_center tablesmall1"" ite...",None,None,2 423 $,None,199,Haut et Court
4548,Ça Chapitre 2,"Jessica Chastain, James McAvoy",79000000,None,2019-09-11,06/09/2019,\r\n 2h 45min...,635024,Franchise,Horreur,Etats-Unis,Moins de 12 ans,"<div class=""bloc_infos_center tablesmall1"">\r\...",None,None,91 062 152 $,None,600,Warner Bros.

In [86]:
# df_filtered = movies_data_cleaned.groupby('titre').filter(lambda x: len(x) > 1 and x['date_US'].notna().any())

# df_us = df_filtered.groupby('titre').apply(lambda x: x if x['date_US'].notna().all() else x[x['date_US'].notna()]).reset_index(drop=True)

# display(df_us)

/var/folders/f8/_srl45g93hb_f9bb62qtf1t80000gn/T/ipykernel_18469/3368329092.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_us = df_filtered.groupby('titre').apply(lambda x: x if x['date_US'].notna().all() else x[x['date_US'].notna()]).reset_index(drop=True)

Empty DataFrame
Columns: [titre, acteurs, budget, compositeur, date, date_US, duree, entrees_premiere_semaine, franchise, genre, pays, pegi_FR, pegi_US, producteur, realisateur, recette_premier_wk_US, remake, salles_premiere_semaine, studio]
Index: []